# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/

# Firebase
.firebase/
firebase-debug.log*
.firebaserc

# Python
venv/
__pycache__/
*.pyc
.env.local

# Misc
.DS_Store
*.pem

# Env
.env
.env*.local

# Vercel
.vercel
